<ion-header>
	<ion-toolbar color="primary">
		<ion-title>My App</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form (ngSubmit)="login()" [formGroup]="credentials">
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"
				>Email is invalid</ion-note
			>
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
		</ion-item>
        <ion-note color="danger" slot="error" *ngIf="(password.dirty || password.touched) && password.errors"
				>Password needs to be 6 characters</ion-note
			>
		<ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
		<ion-button type="button" expand="block" color="secondary" (click)="register()"
			>Create account</ion-button
		>
	</form>
</ion-content>