<ion-header>  
  <ion-toolbar color="primary">  
    <ion-title>  
      Weather 
    </ion-title>  
  </ion-toolbar>  
</ion-header>  
     
<ion-content class="padding" color="light">  
  <ion-tabs>

    <ion-tab-bar slot="top" >
      <ion-tab-button tab="current">
       Current
      </ion-tab-button>
      <ion-tab-button tab="forecast">
        Forecast
       </ion-tab-button>
       <ion-tab-button tab="uv">
        UV
       </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>  
