<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      My Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>User: {{ user.email }}</ion-label>
  </ion-item>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
