<ion-content class="padding" color="light">  

<ion-list>
    <ion-item>
      <ion-toolbar>
      <ion-select [(ngModel)]="pos" interface="popover"  [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"  placeholder="Select a location that apply" [multiple]="false" width="100%">
        <ion-select-option *ngFor="let pos of locations | async" [value]="pos">
          Lat: {{ pos.lat }}
          Lng: {{ pos.lng }} 
          <p>
            {{ pos.timestamp | date:'short' }}
          </p>
        </ion-select-option>
      </ion-select>
      <ion-button slot="end" (click)="searchWeather()">
        <ion-icon name="search" >
      </ion-icon></ion-button>
      </ion-toolbar>
    </ion-item>
  </ion-list>
<div *ngIf='resultFound()'>
    <h1 class="center">Current UV data for {{currentWeather.name}}</h1>
    <ion-card *ngFor='let l of uv' class="ion-elevation-z18">
      <ion-card-header>
        <ion-card-title>
          <h2>{{l.date_iso | date:'MMM d, y, h:mm:ss a'}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <span>
              UV Index: {{l.value}}
            </span>
          </ion-item>        
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='!resultFound()'>
    <h1 class="center">{{msg || 'Start to get UV data'}}</h1>
  </div>
</ion-content>