<ion-content>
<ion-list>
  <ion-item>
    <ion-toolbar>
    <ion-select [(ngModel)]="pos" interface="popover"  [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"  placeholder="Select a location that apply" [multiple]="false" width="100%">
      <ion-select-option *ngFor="let pos of locations | async" [value]="pos">
        Lat: {{ pos.lat }}
        Lng: {{ pos.lng }} 
        <p>
          {{ pos.timestamp | date:'short' }}
        </p>
      </ion-select-option>
    </ion-select>
    <ion-button slot="end" (click)="searchWeather()">
      <ion-icon name="search" >
    </ion-icon></ion-button>
    </ion-toolbar>
  </ion-item>
</ion-list>

<div *ngIf='resultFound()'>
    <h1 class="center">Current weather forecast for {{currentWeather.name}}</h1>
    <ion-card *ngFor='let l of forecast.list' class="ion-elevation-z18">
      <ion-card-header>
        <ion-card-title>
          <h2>{{l.dt*1000 | date:'MMM d, y, h:mm:ss a'}}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table *ngIf='resultFound()'>
          <tbody>
            <tr>
              <td>Temperature</td>
              <td>{{l.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
            </tr>
            <tr>
              <td>Minimum Temperature</td>
              <td>{{l.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
            </tr>
            <tr>
              <td>Maximum Temperature</td>
              <td>{{l.main?.temp_max - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
            </tr>
            <tr>
              <td>Pressure</td>
              <td>{{l.main?.pressure | number:'1.0-0'}}mb</td>
            </tr>
            <tr>
              <td>Sea Level</td>
              <td>{{l.main?.sea_level | number:'1.0-0'}}m</td>
            </tr>
            <tr>
              <td>Ground Level</td>
              <td>{{l.main?.grnd_level | number:'1.0-0'}}m</td>
            </tr>
            <tr>
              <td>Humidity</td>
              <td> {{l.main?.humidity | number:'1.0-0'}}%</td>
            </tr>
            <tr>
              <td>Weather</td>
              <td>
                <ul>
                  <li *ngFor='let w of l.weather'>
                    {{w?.main }}: {{w?.description }}
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Wind Speed</td>
              <td>{{l.wind?.speed }}</td>
            </tr>
            <tr>
              <td>Wind Direction</td>
              <td>{{l.wind?.deg }}<sup>o</sup></td>
            </tr>
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='!resultFound()'>
    <h1 class="center">{{msg || 'Start to get weather forecast'}}</h1>
  </div>
</ion-content>